{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for msg in messages %}
              <div class="alert alert-success" role="alert">
                {{msg}}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

<div class="container-fluid">
  
  <h1>Welcome to Orbit!</h1>
  <p>This is a simple posting website created using Flask.</p>
  <p>Start by going to the lobby room</p>
  <p>Click on "Rooms" and Click "Lobby Room"</p>
  
</div>

{% endblock %}