{% extends "baseX.html" %}

{% block title %} SignUp Page {% endblock %}

{% block body %}

  <!-- Add a way to flash messages here -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-success" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <form action="#" method="post">
          <div class="mb-3">
            <label for="InputUserName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="InputUserName" name="NAME" placeholder="Enter UserName" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">Username showed on the blockchain. This must be a unique name. It cannot be changed later.</div>
          </div>
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="InputEmail" name="EMAIL" placeholder="Enter Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="PASSWD" placeholder="Enter Password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          </div>
          <div class="mb-3">
            <label for="InputRe-Password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="InputRe-Password" name="CPASSWD" placeholder="Re-Enter Password" aria-describedby="re-passwordHelp">
            <div id="re-passwordHelp" class="form-text">
              Make sure it is the same as the above entered password
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out (doesnt work dw)</label>
          </div>
          <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>


      <div class="login-link">
          Already have an account? Click here to <a href="/login/">Login</a>.
      </div>

      </div>
  </div>

{% endblock %}